/* CSS Document */

@font-face {
    font-family: Audiowide Regular;
    src: url("Audiowide-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url("Brandon_bld.otf");
    font-weight: bold;
}

@font-face{
    font-family: Roboto;
    src: url("Roboto-Light.ttf");
    font-weight: light;
}

.checkout_items_for_delivery_product_name, .checkout_items_for_delivery_product_price {
	font-size: 1em;
}

.checkout_items_for_delivery_product_name {
	margin-bottom: 0px;
}

.checkout_items_for_delivery_product_type, .checkout_items_for_delivery_product_qty {
	margin-bottom: 0px;
}

.checkout_exchange_unit_photo_file_cont {
	max-width: 100%;
	width: 100%;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkout_exchange_unit_photo_file_name {
	margin-bottom: 0px;
}

.checkout_exchange_unit_photo_file_remove {
	padding: 0px;
	margin-left: 5px;
}

.checkout_delivery_method_btns {
	margin: 2px;
}

.checkout_delivery_address_header_btn_cont, .checkout_delivery_address_header_cont {
	max-width: 100%;
	width: 100%;
	padding: 0px!important;
}

.checkout_delivery_address {
	max-width: 100%;
	width: 100%;
	padding: 0px;
	margin-bottom: 10px;
}

.checkout_product_details_total_dims {
	margin-bottom: 5px;
}

.checkout_summary_cont {
	border-radius: 15px;
	padding-top: 25px;
	padding-bottom: 30px;
	max-width: 100%;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.checkout_summary_header {
	font-size: 1em;
	margin-bottom: 0px;
}

.checkout_summary_subheader {
	font-size: 0.9em;
}

.checkout_summary_table {
	color: white;
	margin-bottom: 0px;
}

table.checkout_summary_table > tbody > tr > th {
	border:0px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

table.checkout_summary_table > tbody > tr > td {
	border:0px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

table.checkout_summary_table > tbody > tr > td.checkout_summary_table_blank {
	border:0px;
	padding: 0px 0px 50px 0px;
	margin: 0px;
}

.checkout_summary_table_total_data {
	font-size: 2em;
}

.checkout_summary_table_data {
	text-align: right;
}

@media (max-width: 767px) {
	
}