/* CSS Document */

.order_conf_cont {
	margin-top: 10px;
	margin-bottom: 20px;
}

.order_conf_thank_you_cont {
	text-align: center;
	background-color: #BB3333;
	color: white;
	border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.order_conf_thank_you_p3 {
	margin-bottom: 0px;
}

.order_conf_order_details_cont {
	display: flex;
	justify-content: center!important;
	align-self: center;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 30px;
}

.order_conf_delivery_n_summary_cont {
	max-width: 50%;
	width: 50%;
}


table.order_conf_summary_table > tbody > tr > th {
	border:0px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

table.order_conf_summary_table > tbody > tr > td {
	border:0px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

table.order_conf_summary_table > tbody > tr > td.order_conf_summary_table_blank {
	border:0px;
	padding: 0px 0px 50px 0px;
	margin: 0px;
}

.order_conf_summary_table_data {
	text-align: right;
}

.order_conf_summary_cont {
	max-width: 50%;
	align-self: flex-start;
}

.order_conf_order_items_cont {
	padding-left: 92px;
	padding-right: 92px;
}

.order_conf_order_items_product_cont {
	max-width: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.order_conf_order_items_product_img {
	max-width: 20%;
	width: 20%;
}

.order_conf_order_items_product_details {
	max-width: 60%;
	width: 60%;
}

.order_conf_order_items_product_price {
	max-width: 20%;
	width: 20%;
	text-align: right;
}

.order_conf_order_items_product_details_name,  .order_conf_order_items_product_details_type{
	margin-bottom: 0;
}

@media (max-width: 767px) {
	.order_conf_order_details_cont {
		max-width: 100%;
		width: 100%;
		margin: 20px 0 0 0;
		padding: 0;
	}
	
	.order_conf_delivery_n_summary_cont, .order_conf_summary_cont, .order_conf_order_items_cont, .order_conf_delivery_cont, .order_conf_order_items_product_cont, .order_conf_order_items_product_cont_flex, .order_conf_shipping_address_cont {
		max-width: 100%;
		width: 100%;
		margin: 0 0 0 0;
		padding: 0;
	}
	
	.order_conf_order_items_product_img, .order_conf_order_items_product_details {
		margin: 0;
		padding: 0;
	}
	
	.order_conf_order_items_product_details_sku {
		margin: 0;
	}
	
	.order_conf_items_header {
		margin-left: 8px;
	}
}