/* CSS Document */

@font-face {
    font-family: Audiowide Regular;
    src: url("Audiowide-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url("Brandon_bld.otf");
    font-weight: bold;
}

@font-face{
    font-family: Roboto;
    src: url("Roboto-Light.ttf");
    font-weight: light;
}

.request_repair_item_name {
	font-size: 1em;
}

.request_repair_details_reason_text_input {
	resize: none;
	height: 50px;
}

.request_repair_collection_method_btns {
	margin: 2px;
}

.request_repair_collection_address_header_btn_cont, .request_repair_collection_address_header_cont {
	max-width: 100%;
	width: 100%;
	padding: 0px!important;
}

.request_repair_collection_address {
	max-width: 100%;
	width: 100%;
	padding: 0px;
	margin-bottom: 10px;
}

.request_repair_shipping_summary_cont {
	border-radius: 15px;
	padding-top: 25px;
	padding-bottom: 30px;
	max-width: 100%;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}


.request_repair_shipping_summary_header {
	font-size: 1em;
	margin-bottom: 40px;
}

.request_repair_shipping_summary_table {
	color: white;
	margin-bottom: 0px;
}

table.request_repair_shipping_summary_table > tbody > tr > th {
	border:0px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

table.request_repair_shipping_summary_table > tbody > tr > td {
	border:0px;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

table.request_repair_shipping_summary_table > tbody > tr > td.request_repair_shipping_summary_table_blank {
	border:0px;
	padding: 0px 0px 50px 0px;
	margin: 0px;
}

.request_repair_shipping_summary_table_total_data {
	font-size: 2em;
}

.request_repair_shipping_summary_table_data {
	text-align: right;
}