/* CSS Document */

@font-face {
    font-family: Audiowide Regular;
    src: url("Audiowide-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url("Brandon_bld.otf");
    font-weight: bold;
}

@font-face{
    font-family: Roboto;
    src: url("Roboto-Light.ttf");
    font-weight: light;
}

body {
	background: url("/global_assets/login_signup_assets/login_signup_bg.png") no-repeat center center fixed;
	background-size: cover;
}

.login_signup_bg {
	width: 40%;
	padding-top: 50px;
}

.login_signup_cont {
	background-color: white;
	border-radius: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.login_signup_logo_img {
	margin-bottom: 10px;
}

.login_signup_btn {
	margin-top: 20px;
	border-radius: 7px;
	width: 70%;
	max-width: 70%;
}

.login_signup_verify_radios {
	width: 80%;
}

#login_signup_part_of_company_checkbox {
	margin-top: 20px;
	margin-bottom: 10px;
}

.login_signup_link {
	color: #BB3333;
	text-decoration: none;
}

.login_signup_link:hover {
	color: black;
	text-decoration: none;
}

.login_signup_under_btn_text {
	margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1130px) {
	.login_signup_bg {
		width: 60%;
	}
}

@media (min-width: 461px) and (max-width: 767px) {
	.login_signup_bg {
		width: 100%;
	}
	
	.login_signup_cont {
		max-width: 80%;
		width: 80%;
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (min-width: 401px) and (max-width: 460px) {
	.login_signup_bg {
		width: 100%;
	}
	
	.login_signup_cont {
		max-width: 100%;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.login_signup_btn {
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 400px) {
	.login_signup_bg {
		width: 100%;
	}
	
	.login_signup_cont {
		max-width: 100%;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.login_signup_btn {
		width: 100%;
		max-width: 100%;
	}
	
	h1 {
		font-size: 1.9em;
	}
}